.nav {
  background-color: #2e2e35;
  color: #ffffff;
}
#leftCard {
  background-color: #f0efef;
}
.card-header {
  background-color: #f0efef;
  border-bottom: none;
}
#search-button {
  background-color: #0051e9;
  color: #ffffff;
}
#rightCard {
  border: solid 0.1px #ecebeb;
}

.city-btn {
  border-radius: 0.5rem;
  background-color: aquamarine;
  margin-top: 10px;
}
#cityInput {
  float: left;
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0.3rem;
  background-color: aquamarine;
  height: 50px;
}

.jumbo-header {
  float: left;
  padding-left: 10px;
}

.current-time {
  float: right;
  padding-right: 10px;
}

#forecastCard0,
#forecastCard1,
#forecastCard2,
#forecastCard3 {
  float: left;
  margin-right: 30px;
  width: 230px;
  background-color: cadetblue;
  border-radius: 0.5rem;
  margin-bottom: 20px;
}

.form-control {
  width: 200px;
}
